{% extends 'base.html.twig' %}

{% block title %} Library{% endblock %}

{% block body %}


    <div class="container">


        <form name="book" method="post">
            <div class="row mt-3">
                <div class="col col-8">
                    <div class="mb-2">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Book Name</label>
                        <input name="book[name]" type="text" class="form-control" id="name" placeholder="Book Name">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="row"></div>
                <div class="col col-4 align-self-center">
                    <div class="mb-3">
                        <label for="isbn" class="form-label">ISBN</label>
                        <input name="book[isbn]" type="text" class="form-control" id="isbn" placeholder="isbn">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Kategoria</label>
                        {{ form_widget(form.category) }}
                    </div>
                </div>
                <div class="col col-4 align-self-center">
                    <div class="mb-3">
                        <label for="price" class="form-label">Cena</label>
                        <input name="book[price]" type="text" class="form-control" id="price" placeholder="Cena">
                    </div>
                    <div class="mb-3">
                        {# <label for="searchAutor" class="form-label">Autor</label> #}
                        {# {{ form_widget(form.autor) }} #}

                        <label for="autor" class="form-label">Autor</label>
                        <input class="form-control" type="text" id="book_autor" name="book[autor]" required="required">
                    </div>
                    <input type="hidden" id="book__token" name="book[_token]" value="{{ csrf_token('book_item') }}">
                </div>
                <div class="col col-4">
                    <h4>Existujuci autory</h4>
                    <ul>
                        {% for autor in autors  %}
                            <li><a href="#" onclick="addAutor('{{ autor.name }}')"> {{ autor.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col col-4 align-self-left">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"> Ulozit</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        {# <br> #}
        {# <div class="row"> #}
        {# <div class="col col-4 align-self-end"> #}
        {# <div class="mb-3"> #}
        {# <input class="form-control" type="text" id="newAutor" placeholder="Novy autor"> #}
        {# </div> #}
        {# <div class="form-group"> #}
        {# <button class="btn btn-success" onclick="addAutor()" >Pridat</button> #}
        {# </div> #}
        {# </div> #}
        {# </div> #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {# {% for message in app.flashes('error') %} #}
        {# <div class="alert alert-danger mt-1"> #}
        {# {{ message }} #}
        {# </div> #}
        {# {% endfor %} #}
        <br>
        <table
                id="table"
                data-toggle="table"
                data-flat="true"
                data-search="true"
                data-url="{{ path('api_books_json') }}">
            <thead>
            <tr>
                <th data-field="name" data-sortable="false">Name</th>
                <th data-field="isbn" data-sortable="false">ISBN</th>
                <th data-field="price" data-sortable="true">Cena</th>
                <th data-field="category.name" data-sortable="false">Kategoria</th>
                <th data-field="autor.name" data-sortable="false">Autor</th>
            </tr>
            </thead>
        </table>


        {# <table class="table table-striped"> #}
        {# <thead> #}
        {# <tr> #}
        {# <th scope="col">Nazov</th> #}
        {# <th scope="col">ISBN</th> #}
        {# <th scope="col">Cena</th> #}
        {# <th scope="col">Kategoria</th> #}
        {# <th scope="col">Autor</th> #}
        {# </tr> #}
        {# </thead> #}
        {# <tbody> #}
        {# {% if books is not empty %} #}
        {# {% for book in books %} #}
        {# <tr> #}
        {# <td>{{ book.name }}</td> #}
        {# <td>{{ book.isbn }}</td> #}
        {# <td>{{ book.price }}</td> #}
        {# <td>{{ book.category.name }}</td> #}
        {# <td>{{ book.autor.name }}</td> #}
        {# </tr> #}
        {# {% endfor %} #}
        {# {% endif %} #}
        {# </tbody> #}
        {# </table> #}
    </div>

{% endblock %}
